
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.trafficTop {
    width: 10px;
    height: 60px;
    background-color: black;
    margin: auto;
}

.trafficBody {
    width: 100px;
    height: 210px;
    background-color: black;
    margin: auto;
    border-radius: 20%;
    padding-top: 20px;
}

.red {
    background-color: red;
    height: 30%;
    width: 60%;
    border-radius: 50%;
    margin: auto;
}

.yellow {
    background-color: yellow;
    height: 30%;
    width: 60%;
    border-radius: 50%;
    margin: auto;

}

.green {
    background-color: green;
    height: 30%;
    width: 60%;
    border-radius: 50%;
    margin: auto;

}

.glow {
    box-shadow: 0 0 5px 10px rgb(250, 255, 161), 0 0 10px 20px  rgb(255, 232, 119), 0 0 20px 40px  rgb(244, 217, 84) 
}
